@{
    ViewBag.Title = "Главная";
}

<div class="text-center">
    <div class="jumbotron">
        <h1>Каталог музыкантов</h1>
        <p class="lead">Здесь собранны одни из самых лучших музыкантов</p>
        <p><a href="~/Musicians/" class="btn btn-primary btn-lg">Посмотреть &raquo;</a></p>
    </div>

    <div class="jumbotron">
        <h1>Каталог музыкальных групп</h1>
        <p class="lead">Здесь собранны одни из самых лучших музыкальных групп</p>
        <p><a href="~/Bands/" class="btn btn-primary btn-lg">Посмотреть &raquo;</a></p>
    </div>
</div>